{
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./apps/web/tailwind.config.js",
	"semi": true,
	"singleQuote": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true
}
