@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient-color-stops: var(--hackathon-primary), transparent;
		--bg-image: url("/img/assets/background.webp");

		--background: oklch(0.9404 0.0181 89.3604);
		--foreground: oklch(0.145 0 0);
		--card: oklch(96.263% 0.00505 67.277);
		--card-foreground: oklch(0.145 0 0);
		--popover: oklch(1 0 0);
		--popover-foreground: oklch(0.145 0 0);
		--primary: oklch(0.2843 0.0195 80.4025);
		--primary-foreground: oklch(0.985 0 0);
		--secondary: oklch(0.97 0 0);
		--secondary-foreground: oklch(0.205 0 0);
		--muted: oklch(0.97 0 0);
		--muted-foreground: oklch(0.556 0 0);
		--accent: oklch(0.8407 0.1291 90.3073);
		--accent-foreground: oklch(0.205 0 0);
		--destructive: oklch(0.577 0.245 27.325);
		--destructive-foreground: oklch(1 0 0);
		--border: oklch(24.228% 0.01641 79.424);
		--input: oklch(0.922 0 0);
		--ring: oklch(24.228% 0.01641 79.424);
		--nav: #ffffff;
		--hackathon-primary: #ac1703;
		--chart-1: oklch(0.81 0.1 252);
		--chart-2: oklch(0.62 0.19 260);
		--chart-3: oklch(0.55 0.22 263);
		--chart-4: oklch(0.49 0.22 264);
		--chart-5: oklch(0.42 0.18 266);
		--sidebar: oklch(1 0 0);
		--sidebar-foreground: oklch(0.145 0 0);
		--sidebar-primary: oklch(0.2843 0.0195 80.4025);
		--sidebar-primary-foreground: oklch(0.985 0 0);
		--sidebar-accent: oklch(0.8407 0.1291 90.3073);
		--sidebar-accent-foreground: oklch(0.205 0 0);
		--sidebar-border: oklch(0.5452 0.0549 80.4233);
		--sidebar-ring: oklch(0.708 0 0);
		--font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
			"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
			"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
			"Noto Color Emoji";
		--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times,
			serif;
		--font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
			"Liberation Mono", "Courier New", monospace;
		--radius: 0.625rem;
		--shadow-x: 0;
		--shadow-y: 1px;
		--shadow-blur: 3px;
		--shadow-spread: 0px;
		--shadow-opacity: 0.1;
		--shadow-color: oklch(0 0 0);
		--shadow-2xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
		--shadow-xs: 0 1px 3px 0px rgb(0 0 0 / 0.05);
		--shadow-sm: 0 1px 3px 0px rgb(0 0 0 / 0.1),
			0 1px 2px -1px rgb(0 0 0 / 0.1);
		--shadow: 0 1px 3px 0px rgb(0 0 0 / 0.1),
			0 1px 2px -1px rgb(0 0 0 / 0.1);
		--shadow-md: 0 1px 3px 0px rgb(0 0 0 / 0.1),
			0 2px 4px -1px rgb(0 0 0 / 0.1);
		--shadow-lg: 0 1px 3px 0px rgb(0 0 0 / 0.1),
			0 4px 6px -1px rgb(0 0 0 / 0.1);
		--shadow-xl: 0 1px 3px 0px rgb(0 0 0 / 0.1),
			0 8px 10px -1px rgb(0 0 0 / 0.1);
		--shadow-2xl: 0 1px 3px 0px rgb(0 0 0 / 0.25);
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		background-image: var(--bg-image);
		background-size: contain;
		background-position: center;
	}
}

.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallax-effect-img {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.event-pass-img {
	transform: translateZ(40px);
}

.pulsatingDot {
	/* animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite; */
	/* border-radius: 50%; */
	/* box-sizing: border-box; */
	transform-origin: center;
}

.pulsatingDot:before {
	animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	/* background-color: var(--pulsating-dot, #00BEFF); */
	background-color: var(--hackathon-primary);
	border-radius: 45px;
	content: "";
	display: block;
	height: 300%;
	left: -100%;
	position: relative;
	top: -100%;
	width: 300%;
}

@keyframes pulseRing {
	0% {
		transform: scale(0.5);
	}

	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulseDot {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

.pin {
	z-index: 40 !important;
}
