@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--gradient-color-stops: hsl(var(--hackathon-primary)), transparent;
		--bg-image: url("/img/background.svg");
		--background: 28 43% 47%;
		--foreground: 0 0% 0%;
		--border: 0 0% 0%;
		--input: 0 0% 0%;

		--popover: 43.33, 37.5%, 90.59%;
		--popover-foreground: 0 0% 0%;

		--accent: 7.81, 96.57%, 34.31%;
		--accent-foreground: 0 0% 0%;

		--primary: 0 0% 0%;
		--primary-foreground: 43.33, 37.5%, 90.59%;

		--muted: 7.81, 96.57%, 34.31%;
		--muted-foreground: 37.5, 20.51%, 15.29%;

		--secondary: 0 0% 0%;
		--secondary-foreground: 242 86% 52%;

		--radius: 0.5rem;

		--card: 43.33, 37.5%, 90.59%;
		--card-foreground: 0 0% 0%;

		--ring: 7.81, 96.57%, 34.31%;

		--destructive: 7.81, 96.57%, 34.31%;
		--destructive-foreground: 0 0% 0%;

		--nav: 255, 255, 255;
		--hackathon-primary: 7.81, 96.57%, 34.31%;
	}

	.dark {
		--gradient-color-stops: hsl(var(--hackathon-primary)), transparent;
		--bg-image: url("/img/background.svg");
		--background: 28 43% 47%;
		--foreground: 0 0% 0%;
		--border: 0 0% 0%;
		--input: 0 0% 0%;

		--popover: 43.33, 37.5%, 90.59%;
		--popover-foreground: 0 0% 0%;

		--accent: 7.81, 96.57%, 34.31%;
		--accent-foreground: 0 0% 0%;

		--primary: 0 0% 0%;
		--primary-foreground: 43.33, 37.5%, 90.59%;

		--muted: 7.81, 96.57%, 34.31%;
		--muted-foreground: 37.5, 20.51%, 15.29%;

		--secondary: 0 0% 0%;
		--secondary-foreground: 242 86% 52%;

		--radius: 0.5rem;

		--card: 43.33, 37.5%, 90.59%;
		--card-foreground: 0 0% 0%;

		--ring: 7.81, 96.57%, 34.31%;

		--destructive: 7.81, 96.57%, 34.31%;
		--destructive-foreground: 0 0% 0%;

		--nav: 255, 255, 255;
		--hackathon-primary: 7.81, 96.57%, 34.31%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;

		background-image: var(--bg-image);
		background-size: contain;
		background-position: center;
	}
}

.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallax-effect-img {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.event-pass-img {
	transform: translateZ(40px);
}

.pulsatingDot {
	/* animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite; */
	/* border-radius: 50%; */
	/* box-sizing: border-box; */
	transform-origin: center;
}

.pulsatingDot:before {
	animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	/* background-color: var(--pulsating-dot, #00BEFF); */
	background-color: hsl(var(--hackathon-primary));
	border-radius: 45px;
	content: "";
	display: block;
	height: 300%;
	left: -100%;
	position: relative;
	top: -100%;
	width: 300%;
}

@keyframes pulseRing {
	0% {
		transform: scale(0.5);
	}

	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulseDot {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}
