@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--nav: 255, 255, 255;
		--hackathon-primary: 206 86% 52%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 5% 64.9%;

		--radius: 0.5rem;

		--gradient-color-1: #668cff;
		--gradient-color-2: #3366ff;
		--gradient-color-3: #002db3;
		--gradient-color-4: #1952cc;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--nav: 0, 0, 0;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 85.7% 97.3%;

		--ring: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}

.no-select {
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.parallax-effect-img {
	transform-style: preserve-3d;
	transform: perspective(1000px);
}

.event-pass-img {
	transform: translateZ(40px);
}

.card-shine-effect {
	--shine-deg: 45deg;
	position: relative;
	overflow: hidden;
	border-radius: 150px;

	background-repeat: no-repeat;
	background-position:
		-100% 0,
		0 0;

	background-image: linear-gradient(
		var(--shine-deg),
		transparent 20%,
		transparent 40%,
		rgba(170, 170, 170, 0.2) 50%,
		rgba(114, 114, 114, 0.2) 55%,
		transparent 70%,
		transparent 100%
	);
	background-size:
		250% 250%,
		100% 100%;
	transition: background-position 0s ease;
}

.card-shine-effect-active {
	background-position:
		200%0,
		0 0;
	transition-duration: 3.2s;
}

.register-clip {
	clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.pulsatingDot {
	/* animation: pulseDot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite; */
	/* border-radius: 50%; */
	/* box-sizing: border-box; */
	transform-origin: center;
}

.pulsatingDot:before {
	animation: pulseRing 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
	/* background-color: var(--pulsating-dot, #00BEFF); */
	background-color: hsl(var(--hackathon-primary));
	border-radius: 45px;
	content: "";
	display: block;
	height: 300%;
	left: -100%;
	position: relative;
	top: -100%;
	width: 300%;
}

@keyframes pulseRing {
	0% {
		transform: scale(0.5);
	}

	80%,
	100% {
		opacity: 0;
	}
}

@keyframes pulseDot {
	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}
