/* .border-style {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%23000' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
} */
.element-with-border {
    
    border-width: 3rem;
    border-style: dashed;
    border-image-source: url('../../../public/img/landing/bone.svg');
    
    border-image-repeat: repeat;
    border-image-slice: full;
    
    /* This value ensures the entire SVG image is used as the border */
}
.arrow_animate{
    animation: arrow 2s infinite;
}
@keyframes arrow{
    0%{
        
        transform: translate(0px);
    }
    50%{
        transform: translate(20px);
    }
    100%{
        transform: translate(0px);
    }
    
}

